<h1>Submissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Problem ID</th>
      <th>Status</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.problem_id %></td>
        <td><%= submission.status %></td>
        <td><%= submission.user_id %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Log', log_submission_path(submission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
