<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @submission.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @submission.user_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
