<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laguage.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @laguage.version %>
</p>

<%= link_to 'Edit', edit_laguage_path(@laguage) %> |
<%= link_to 'Back', laguages_path %>
